.home {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.main {
  padding: 20px;
  border-radius: 34px 34px 0 0;
  text-align: center;
  width: 100%;
  height: 70%;
  margin-bottom: 0;
  margin-top: 147px;
}

.button-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: white;
  border: 5px solid #D0E1CD;
  border-radius: 34px;
  padding: 10px;
  width: 94%;
  height: 99px;
  text-decoration: none;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 5px solid #EED5D5;
  border-radius: 34px;
  padding: 10px;
  width: 48%;
  height: 99px;
}

.button-right {
  border: 5px solid #CEDEE7;
}

button img {
  width: 50px;
  height: 50px;
}

.top-button img {
  width: 50px;
  height: 50px;
}

button span {
  margin-top: 10px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 63px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
}

.navbar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-button img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.navbar-button span {
  font-size: 12px;
}

.data-bar {
  width: 100%;
  background-color: olive;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

.date-list {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.date-item {
  background-color: white;
  padding: 5px;
  margin: 0 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-number {
  font-size: 24px;
  font-weight: bold;
}

.date-day {
  font-size: 14px;
}

.transcript-list {
  height: calc(100%); /* Adjust height as needed */
}

.transcript-item {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.transcript-header {
  display: flex;
  align-items: center;
}

.transcript-header img {
  margin-right: 10px;
  width: 32px;
}


.transcript-group {
  margin: 45px 0;
}